.app-container {
  height: 100vh;
  padding: 10px;

  background: linear-gradient(190deg, rgba(228, 53, 53, 0.8), rgba(255,0,0,0) 40.71%),
            linear-gradient(336deg, rgba(33, 33, 39, 0.8), rgba(0,0,255,0) 70.71%),
            linear-gradient(200deg, rgba(43, 23, 17, 0.8), rgba(0,0,255,0) 90.71%);
}